@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass&display=swap');
body{
    height: 100%;
    width: 100%;
    background-color: #9f10eb;
background-image: linear-gradient(0deg, #9f10eb 0%, #2a9d8f 100%);

}

:root {
  font-size: 16px;
  font-family: 'Overpass',sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  transition: width 600ms ease;
  background-color: ;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.9);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
}
.nav-link.menu-item:hover{
    color: #f77f00;
}

.link-text {
  display: none;
  margin-left: 1rem;
}
.link-text:hover{
    color: #f76a00;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -299px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}


.fa-primary {
  color: #f76a00;
}

.fa-secondary {
  color: #f77f00;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    position: absolute;
    top: 70px;
  }
 .nav-link svg {
  width: 1.5rem;
  min-width: 1rem;
  margin: 0 1.3rem;
}

  .logo {
    display: none;
  }
    
  .nav-link {
    justify-content: center;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 10rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}
.home-btn{
    display:flex;
    width:4%;
    margin: 10px;
    background: aliceblue;
}
.home-btn a{
    
    text-decoration: none;
    text-align: left;
    font-family: 'Anton',sans-serif;
    color: #333;
    padding: 10px;
}
.home-btn a:hover{
    background:#fca311;
    color: #fff;
    display: flex;
}
h1{ 
    font-family: 'Anton',sans-serif;
    font-weight: normal;
    font-size: 55px;
    letter-spacing: 4px;
    padding: 50px 0 20px;
    color: #fca311;
    text-align: center;
}
p{
    padding: 0;
    font-family: 'Overpass',sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain{
    width: 60%;
    left: 60px;
    padding-left: 15em;
    position: relative;
    color: aliceblue;
}
.container{
    width:800px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.btn{
    margin-left: 90%;
    margin-bottom: 10px;
    background: aliceblue;
}
.btn a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Anton',sans-serif;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.btn a:hover{
    background:#fca311;
    color: #fff;
    display: flex;
    width: 100%;
}
.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.card{
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 210px;
	grid-template-areas: "image" "text";
	border-radius: 18px;
	background:white;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	text-align: center;
	transition: 0.5s ease;
	cursor: pointer;
	margin: 10px 10px 0; 
    margin-bottom: 30px;
}

.card-image{
	grid-area: image;
	background: url("../img/detection.png");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
}

.card-text{
	grid-area: text;
	margin: 25px;
}

.card-text p{
	color: var(--clr-dark);
	font-size: 15px;
	font-weight: 300;
}

.card-text h2{
	margin-top: 0px;
  font-size: 28px;
  text-decoration: none;
  font-family: var(--ff-primary);
  color: var(--clr-accent);
}
.card-text h2 a{
  text-decoration: none;
  font-family: var(--ff-primary);
  color: var(--clr-accent);
}

.card:hover{
	transform: scale(1.1);
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.card:hover h2 a{
  color:purple;
}


.card-image.card-2{
	background:url(../img/pitch.png);
	background-size: cover;
}

.card-text.card2 .date{
	color:rgb(255,77,7);
}

.card-text.card2 .border{
	border-left: 1px solid rgb(185, 67,20);
	border-right: 1px solid rgb(185,67,20);
}


.footer{
    text-align: center;
    padding: 1px 2px;
}
.social-icon-link {
    margin-right: 1px;
    margin-left: 1px;
    padding: 1px;
    opacity: 0.87;
    transition: opacity 300ms ease;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.footer img{
    width: 80%;
}
.footer-text {
    color:white;
    font-family:sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}