html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #124861;
}

canvas {
  align-items: center;
}

h1 {
  font-family: 'PressStart2PRegular';
  font-size: 45px;
  color: #fb8b24;
  text-align: center;
  padding-top: 55px;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: space-between;
}


.card {
  z-index: 1;
  display: grid;
  width: 50%;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 10px 70px 0;
  margin-bottom: 30px;
}


/* #label_model {
  position: relative;
  height: 60px;
  z-index: 20;
  width: 30%;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: 0.5s ease;
  cursor: pointer;
  margin: 34% 50%;
  margin-bottom: 50px;
  margin-top: 50px;
} */

p {
  font-size: 22px;
  text-align: center;
  font-family: 'PressStart2PRegular';
  margin-top: 10px;
}